<% 
    if (!imgext) {
        var qsrc = "components/com_holiness/assets/images/placeholder.png"; 
    }
    else {
        var qsrc = "media/com_holiness/images/user-" + id + "-icon." + imgext;
    }
%>

<div class="span1">
  <a href="#/users/<%= id %>"><img src="<%= qsrc %>" class="img-circle" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='" /></a>
</div>

<div class="span11">
  <strong><a href="#/users/<%= id %>"><%= name %></a></strong>
  <span class="badge badge-info" style="margin-left:10px;">
    <a style="color: #fff;" class="amen-plus" href="#">Amen</a>
  </span>
  <br>
  <small><%= ts %></small>
  <br>
  <%= comment %>
</div>
