
<div class="row-fluid fellow" style="margin-bottom:10px;">
  <div class="span2">
    <img class="img-polaroid" src="media/com_holiness/images/user-<%= id %>-thumb.<%= imgext %>" onerror="this.src='modules/mod_hpmembers/assets/images/none.jpg'" />
  </div>
  
  <div class="span9" style="margin-bottom:10px; margin-left:20px">
    <p>
      <strong><a href="#/users/<%= id %>"><%= value %></a></strong><br>
      <small><%= church %></small><br>
      <button class="btn add-partner" style="margin-top:5px;">Make devotion partner</button>
    </p>
  </div>
</div>