<% 
    if (!imgext) {
        var qsrc = "modules/mod_hpmembers/assets/images/none.jpg"; 
    }
    else {
        var qsrc = "media/com_holiness/images/user-" + id + "-thumb." + imgext;
    }
%>

  <div class="row-fluid">
    <div class="span2">
      <a href="#/users/<%= userid %>">
      <img src="http://www.scottwebdesigns.co.za/holliness/media/com_holiness/images/user-82-thumb.jpg" style="width:100px; height:100px" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='" class="img-polaroid"></a><br>
      <blockquote>
        <p><a href="#/users/<%= userid %>"><%= name %></a></p>
      </blockquote>
    </div>
    <div class="span10">
        <h3 style="margin-top: 0px">Prayer Request</h3>
        <div class="row-fluid">
          <div class="span3"><span class="badge badge-important" id="willpray"><%= willpray %></span> Will Pray</div>
          <div class="span3"><span class="badge badge-important" id="haveprayed"><%= haveprayed %></span> Have Prayed</div>
          <div class="span3"><span class="badge badge-important" id="postcomments"><%= comments %></span> Comments</div>
          <div class="span3">
            <div class="btn-group pull-right">
              <button class="btn"><i class="icon-cog"></i></button>
              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="editpost">Edit</a></li>
                <li><a href="#" class="deletepost">Delete</a></li>
              </ul>
            </div>          
          </div>
        </div>
        
        <div class="row-fluid" style="margin-top:0px; padding-top: 0px;">
          <div class="span12"><small><%= ts %></small></div>
          <div class="span12">
            <%= post %>
          </div>
        </div>
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span6">
      <p style="text-align:center"><button class="btn btn-block btn-primary" type="button">In Jesus' name I will pray for you</button></p>
      <p></p>
    </div>
    <div class="span6">
      <p style="text-align:center"><button class="btn btn-block btn-primary" type="button">In Jesus' name I have prayed for you</button></p>
      <p></p>
    </div>
  </div>
  
  <div id="timeline" class="row-fluid" style="margin-top:20px">
    <div class="devotion-comments" style="background-color: #F1F1F1; border: 1px solid #E5E5E5; padding: 10px 10px 10px 10px;">
      <div class="row-fluid">
        <div class="span1" style="margin: 0px; padding: 0px">
          <img src="http://www.scottwebdesigns.co.za/holliness/media/com_holiness/images/user-63-icon.jpg" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='" class="img-polaroid">
        </div>
        <div class="span11">
          <div class="row-fluid">
            <form style="margin-bottom: 0px; text-align:right">
              <div class="row-fluid">
                <textarea rows="2" cols="10" class="span12" id="commentsbox" placeholder="Write a comment..."></textarea>
              </div>
              <div class="row-fluid">
                <div class="span6" style="text-align:left">
                   <strong>Characters: <span id="chars">150</span></strong>
                </div>
                <div class="span6" style="text-align:right">
                  <button style="padding-right: 20px; padding-left: 20px;" class="btn btn-primary" type="button">Comment</button>
                </div>
              </div>
              <input type="hidden" id="devotionid" value="121">
            </form>       
          </div>
        </div>
      </div>
    
      <div class="row-fluid" id="commentscontainer">
      </div>
    </div>
  </div>
</div>