<% 
    if (!imgext) {
        var qsrc = "modules/mod_hpmembers/assets/images/none.jpg"; 
    }
    else {
        var qsrc = "media/com_holiness/images/user-" + userid + "-thumb." + imgext;
    }
%>

  <div class="row-fluid">
    <div class="span2">
      <a href="#/users/<%= userid %>">
      <img src="<%= qsrc %>" style="width:100px; height:100px" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='" class="img-polaroid"></a><br>
      <blockquote>
        <p><a href="#/users/<%= userid %>"><%= name %></a></p>
      </blockquote>
    </div>
    <div class="span10">
      <% if(posttype === 'prayerrequest') { %>
        <h2 style="margin-top: 0px">Prayer Request</h2>
        <div class="row-fluid">
          <div class="span3"><span class="badge badge-important" id="willpray"><%= plusones.length %></span> Will Pray</div>
          <div class="span3"><span class="badge badge-important" id="haveprayed"><%= haveprayed %></span> Have Prayed</div>
          <div class="span3"><span class="badge badge-important" id="postcomments"><%= comments %></span> Comments</div>
          <div class="span3">
          <% if (userid === currentuser.id) { %>
            <div class="btn-group pull-right">
              <button class="btn"><i class="icon-cog"></i></button>
              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="editpost">Edit</a></li>
                <li><a href="#" class="deletepost">Delete</a></li>
              </ul>
            </div>
          <% } %>            
          </div>
        </div>
        
        <div class="row-fluid" style="margin-top:0px; padding-top: 0px;">
          <div class="span12"><small><%= ts %></small></div>
          <div class="span12" style="margin-left: 0px">
            <%= post %>
          </div>
        </div>
      <% } %>
      
      <% if(posttype === 'testimony') { %>
        <h2 style="margin-top: 0px">Testimony</h2>
        <div class="row-fluid">
          <div class="span4"><span class="badge badge-important" id="willpray"><%= plusones.length %></span> Praises to God</div>
          <div class="span4"><span class="badge badge-important" id="postcomments"><%= comments %></span> Comments</div>
          <div class="span4">
          <% if (userid === currentuser.id) { %>
            <div class="btn-group pull-right">
              <button class="btn"><i class="icon-cog"></i></button>
              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="editpost">Edit</a></li>
                <li><a href="#" class="deletepost">Delete</a></li>
              </ul>
            </div>
          <% } %>            
          </div>
        </div>
        
        <div class="row-fluid" style="margin-top:0px; padding-top: 0px;">
          <div class="span12"><small><%= ts %></small></div>
          <div class="span12" style="margin-left: 0px">
            <%= post %>
          </div>
        </div>
      <% } %>
      
      <% if(posttype === 'prophecy') { %>
        <h2 style="margin-top: 0px">Prophecy</h2>
        <div class="row-fluid">
          <div class="span4"><span class="badge badge-important" id="willpray"><%= plusones.length %></span> Part of this Prophecy</div>
          <div class="span4"><span class="badge badge-important" id="postcomments"><%= comments %></span> Comments</div>
          <div class="span4">
          <% if (userid === currentuser.id) { %>
            <div class="btn-group pull-right">
              <button class="btn"><i class="icon-cog"></i></button>
              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="editpost">Edit</a></li>
                <li><a href="#" class="deletepost">Delete</a></li>
              </ul>
            </div>
          <% } %>            
          </div>
        </div>
        
        <div class="row-fluid" style="margin-top:0px; padding-top: 0px;">
          <div class="span12"><small><%= ts %></small></div>
          <div class="span12" style="margin-left: 0px">
            <%= post %>
          </div>
        </div>
      <% } %>
      
      <% if(posttype === 'revelation') { %>
        <h2 style="margin-top: 0px">Revelation</h2>
        <div class="row-fluid">
          <div class="span4"><span class="badge badge-important" id="willpray"><%= plusones.length %></span> Declare this to be powerful</div>
          <div class="span4"><span class="badge badge-important" id="postcomments"><%= comments %></span> Comments</div>
          <div class="span4">
          <% if (userid === currentuser.id) { %>
            <div class="btn-group pull-right">
              <button class="btn"><i class="icon-cog"></i></button>
              <button class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" class="editpost">Edit</a></li>
                <li><a href="#" class="deletepost">Delete</a></li>
              </ul>
            </div>
          <% } %>            
          </div>
        </div>
        
        <div class="row-fluid" style="margin-top:0px; padding-top: 0px;">
          <div class="span12"><small><%= ts %></small></div>
          <div class="span12" style="margin-left: 0px">
            <%= post %>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
  <div class="row-fluid">
    <% if(posttype === 'prayerrequest') { %>
      <div class="span6">
        <p style="text-align:center"><button class="btn btn-block btn-primary plusoneButton" type="button">In Jesus' name I will pray for you</button></p>
        <p id="plusones-prayerrequest"></p>
      </div>
      <div class="span6">
        <p style="text-align:center"><button class="btn btn-block btn-primary iprayedbutton" type="button">In Jesus' name I have prayed for you</button></p>
        <p id="plusones-prayed"></p>
      </div>
    <% } %>
    
    <% if(posttype === 'testimony') { %>
      <div class="span6">
        <p style="text-align:center">
          <button class="btn btn-block btn-primary plusoneButton" type="button">I praise God for what he has done for you</button>
        </p>
        <p id="plusones-testimony"></p>
      </div>
      <div class="span6">
      </div>
    <% } %>
    
    <% if(posttype === 'prophecy') { %>
      <div class="span6">
        <p style="text-align:center">
          <button class="btn btn-block btn-primary plusoneButton" type="button">In Jesus' name I become part of this Prophecy</button>
        </p>
        <p id="plusones-prophecy"></p>
      </div>
      <div class="span6">
      </div>
    <% } %>
    
    <% if(posttype === 'revelation') { %>
      <div class="span6">
        <p style="text-align:center"><button class="btn btn-block btn-primary plusoneButton" type="button">Hallelujah - This is powerful</button></p>
        <p id="plusones-revelation"></p>
      </div>
      <div class="span6">
      </div>
    <% } %>
  </div>
  
  
  <div id="timeline" class="row-fluid" style="margin-top:20px">
    <div class="devotion-comments" style="background-color: #F1F1F1; border: 1px solid #E5E5E5; padding: 10px 10px 10px 10px;">
      <div class="row-fluid">
        <div class="span1" style="margin: 0px; padding: 0px">
          <img src="media/com_holiness/images/user-<%= currentuser.id %>-icon.<%= currentuser.imgext %>" style="width:50px; height:50px" onerror="this.src='data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=='" class="img-polaroid">
        </div>
        <div class="span11">
          <div class="row-fluid">
            <form style="margin-bottom: 0px; text-align:right" id="form_<%= commentsProp %>" name="form_<%= commentsProp %>">
              <div class="row-fluid">
                <textarea rows="2" cols="10" class="span12" name="txt" id="comments_<%= commentsProp %>" placeholder="Write a comment..."></textarea>
              </div>
              <div class="row-fluid">
                <div class="span6" style="text-align:left; margin-left:0px">
                   <strong>Characters: <span id="chars_<%= commentsProp %>">150</span></strong>
                </div>
                <div class="span6" style="text-align:right">
                  <input type="hidden" name="postid" value="<%= id %>" />
                  <input type="hidden" name="post_type" value="<%= posttype %>" />
                  <input type="hidden" name="userid" value="<%= currentuser.id %>" />
                  <input type="hidden" name="author" value="<%= userid %>" />
                  <input type="hidden" name="name" value="<%= currentuser.name %>" />
                  <button style="padding-right: 20px; padding-left: 20px;" class="btn btn-primary" type="submit">Comment</button>
                </div>
              </div>
            </form>       
          </div>
        </div>
      </div>
    
      <div class="row-fluid" id="myfriendscomments">
      </div>
    </div>
  </div>
</div>
